.card-section {
  padding: 7.5rem 0 7.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem 1.5rem;
  max-width: 106.5rem;
  margin: 0 auto; }
  @media (min-width: 375px) and (max-width: 640px) {
    .card-section {
      padding: 2.9813rem 0 3.25rem 0;
      grid-template-columns: 1fr;
      max-width: 19.5rem;
      gap: 5.75rem 0rem; } }
  @media (min-width: 640px) and (max-width: 1024px) {
    .card-section {
      padding: 2.9813rem 0 3.25rem 0;
      grid-template-columns: 1fr;
      max-width: 25rem;
      gap: 5.75rem 0rem; } }
  .card-section .card-section__title {
    grid-column: 1/4;
    color: #333333;
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    padding-bottom: 5.375rem; }
    @media (min-width: 375px) and (max-width: 640px) {
      .card-section .card-section__title {
        grid-column: 1/2;
        padding-bottom: 0.875rem; } }
    @media (min-width: 640px) and (max-width: 1024px) {
      .card-section .card-section__title {
        grid-column: 1/2;
        padding-bottom: 0.875rem; } }
  .card-section .card-section__cards .card {
    background: #333333;
    font-size: 1.125rem;
    color: #FEFEFE;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-top: 2rem; }
    @media (min-width: 640px) and (max-width: 1024px) {
      .card-section .card-section__cards .card {
        grid-template-columns: 1fr;
        margin: 0 auto; } }
    @media (min-width: 375px) and (max-width: 640px) {
      .card-section .card-section__cards .card {
        grid-template-columns: 1fr;
        margin: 0 auto; } }
    .card-section .card-section__cards .card .card__titles {
      font-size: 1.5rem;
      line-height: 1.75rem; 
      display: flex;
    flex-flow: column wrap;
    gap: .625rem;}

    .card-section .card-section__cards .card .card__titles span:first-child {
      font-weight: 600;
    }
      @media (min-width: 375px) and (max-width: 640px) {
        .card-section .card-section__cards .card .card__titles {
          margin: 0 auto; } }
      @media (min-width: 640px) and (max-width: 1024px) {
        .card-section .card-section__cards .card .card__titles {
          margin: 0 auto; } }
      .card-section .card-section__cards .card .card__titles p {
        padding-bottom: 0.313rem;
        padding-left: 1.5rem;
        font-weight: 600; }
        @media (min-width: 375px) and (max-width: 640px) {
          .card-section .card-section__cards .card .card__titles p {
            padding-left: 0rem;
            font-size: 1.5rem;
            text-align: center; } }
        @media (min-width: 640px) and (max-width: 1024px) {
          .card-section .card-section__cards .card .card__titles p {
            padding-left: 0rem;
            font-size: 1.5rem;
            text-align: center; } }
      .card-section .card-section__cards .card .card__titles p:nth-child(2) {
        font-weight: 600; }
        @media (min-width: 375px) and (max-width: 640px) {
          .card-section .card-section__cards .card .card__titles p:nth-child(2) {
            padding: 0rem 0 0.625rem 0; } }
        @media (min-width: 640px) and (max-width: 1024px) {
          .card-section .card-section__cards .card .card__titles p:nth-child(2) {
            padding: 0rem 0 0.625rem 0; } }
      .card-section .card-section__cards .card .card__titles p:nth-child(3) {
        font-weight: 400; }
        @media (min-width: 375px) and (max-width: 640px) {
          .card-section .card-section__cards .card .card__titles p:nth-child(3) {
            padding-bottom: 1.5rem; } }
        @media (min-width: 640px) and (max-width: 1024px) {
          .card-section .card-section__cards .card .card__titles p:nth-child(3) {
            padding-bottom: 1.5rem; } }
    .card-section .card-section__cards .card .card__icon {
      height: 7.5rem;
      width: 7.5rem;
      border-radius: 50%;
      background: #87DE87;
      margin: 0px 0px 1.063rem 2rem;
      position: relative; 
      display: flex;
      flex-flow: row wrap;
    justify-content: center;
  align-items: center;}
      @media (min-width: 375px) and (max-width: 640px) {
        .card-section .card-section__cards .card .card__icon {
          grid-column: 1/4;
          margin: -5.5rem 0rem 2rem 0rem;
          justify-self: center; } }
      @media (min-width: 640px) and (max-width: 1024px) {
        .card-section .card-section__cards .card .card__icon {
          grid-column: 1/4;
          margin: -5.5rem 0rem 2rem 0rem;
          justify-self: center; } }
      .card-section .card-section__cards .card .card__icon img {
        width: 4.375rem;
         }
      .card-section .card-section__cards .card .card__icon .card__icon-charger {
        padding-top: 1.875rem; }
    .card-section .card-section__cards .card .card__text {
      grid-column: 1/4;
      padding-left: 2rem;
      padding-right: 2.125rem;
      padding-bottom: 2rem;
      font-weight: 400;
      line-height: 1.313rem;
      font-style: normal;
      font-size: 1.125rem;
      margin: 0 auto; }
      @media (min-width: 375px) and (max-width: 640px) {
        .card-section .card-section__cards .card .card__text {
          padding: 0 1rem 1.5rem 1rem;
          margin-left: 0rem;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.3125rem; } }