.carousel__section{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16.375rem 0 7.5rem 0;
  color: rgb(var(--color-base-accent-1));
  width: 100%;
  margin: 0 auto;
  overflow: hidden; 
}

.glide .glide__slides {
    height: 20.0625rem; }
.glide .glide__slides .glide__slide {
      height: 20.0625rem;
        width: 34.5rem ; }
.glide .glide__slides .glide__slide img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
.glide .glide__slides img {
      width: 100%;
      object-fit: cover; }
.glide h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    padding-bottom: 2.875rem;
    color:rgb(var(--color-base-accent-1)); }
    @media (min-width: 1024px) {
.glide h2 {
        display: none; } 
    }
.glide .glide__arrows {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
 }

 .glide__arrow{
    border-radius: 50%;
    background-color:rgb(var(--color-base-accent-2));
    color: rgb(var(--color-base-accent-1));
    width: 6.25rem;
    height: 6.25rem;
    border: none;
 }

 @media (min-width: 375px) and (max-width: 1024px){
    .glide__arrow{
        width: 4rem !important;
        height: 4rem !important;
        border-radius: 50%;
        background-color:rgb(var(--color-base-text));
        color: rgb(var(--color-base-accent-1));
        width: 6.25rem;
        height: 6.25rem;
        border: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
 }
 .glide__arrow--left svg, .glide__arrow--right svg {

    width:  1.28rem !important;
    height: .8806rem !important;
}
}

.glide__arrow--left svg{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.glide__arrow--left svg, .glide__arrow--right svg {
    width:  4rem;
    height: 2.75rem;
}

.glide__slides{
    display: flex;
    flex-flow: row wrap !important;
    align-items: center !important;
}

@media (min-width: 375px) and (max-width: 1024px){
    .carousel__section{
        padding: 3rem 0 3rem 0;
    }
}

