.contact-section {
  background: rgb(var(--color-base-accent-2));
  width: 100%;
  margin: 0 auto;
  color: rgb(var(--color-base-accent-1));
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  padding-bottom: 3rem; }
  .contact-section .contact-section__logo {
    padding: 3rem 0 1.875rem 6.75rem; }
    @media (min-width: 375px) and (max-width: 640px) {
      .contact-section .contact-section__logo {
        padding: 0 0 1.9169rem 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        } }
    @media (min-width: 640px) and (max-width: 1024px) {
      .contact-section .contact-section__logo {
        padding: 0 0 1.9169rem 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center; 
        } }

        
  @media (min-width: 375px) and (max-width: 640px) {
    .contact-section__logo svg{
      margin-right: 0 !important;
    }
  }

  @media (min-width: 640px) and (max-width: 1024px) {
    .contact-section__logo svg{
      margin-right: 0 !important;
    }
  }

  .contact-section .contact-section__containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    @media (min-width: 375px) and (max-width: 640px) {
      .contact-section .contact-section__containers {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center; } }
    @media (min-width: 640px) and (max-width: 1024px) {
      .contact-section .contact-section__containers {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center; } }
    .contact-section .contact-section__containers .contact-section__containers-info {
      display: flex;
      flex-direction: column;
      padding: 0 15.625rem 0 6.75rem; }
      @media (min-width: 375px) and (max-width: 640px) {
        .contact-section .contact-section__containers .contact-section__containers-info {
          padding: 0 0 0 0; } }
      @media (min-width: 640px) and (max-width: 1024px) {
        .contact-section .contact-section__containers .contact-section__containers-info {
          padding: 0 0 0 0; } }
      .contact-section .contact-section__containers .contact-section__containers-info h2 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: rgb(var(--color-base-accent-1));
        padding-bottom: 0.625rem; }
      .contact-section .contact-section__containers .contact-section__containers-info p {
        padding-bottom: 0.625rem; }
      .contact-section .contact-section__containers .contact-section__containers-info p:nth-child(3) {
        padding-bottom: 1.125rem; }
      .contact-section .contact-section__containers .contact-section__containers-info p:last-child {
        padding-bottom: 6rem; }
        @media (min-width: 375px) and (max-width: 640px) {
          .contact-section .contact-section__containers .contact-section__containers-info p:last-child {
            padding-bottom: 4rem; } }
        @media (min-width: 640px) and (max-width: 1024px) {
          .contact-section .contact-section__containers .contact-section__containers-info p:last-child {
            padding-bottom: 4rem; } }
    .contact-section .contact-section__containers .contact-section__containers-links {
      display: flex;
      flex-direction: column; }
      @media (min-width: 375px) and (max-width: 640px) {
        .contact-section .contact-section__containers .contact-section__containers-links {
          padding-bottom: 3.375rem; } }
      @media (min-width: 640px) and (max-width: 1024px) {
        .contact-section .contact-section__containers .contact-section__containers-links {
          padding-bottom: 3.375rem; } }
      .contact-section .contact-section__containers .contact-section__containers-links a {
        padding-bottom: 0.625rem; }
      .contact-section .contact-section__containers .contact-section__containers-links h3 {
        font-weight: 600;
        padding-bottom: 0.625rem; 
        font-size: 1.125rem;
        color: rgb(var(--color-base-accent-1));}
    .contact-section .contact-section__containers .contact-section__containers-follow {
      padding-right: 15.75rem;
      display: flex;
      flex-flow: column wrap;
      gap: 1.125rem 0; }
      @media (min-width: 375px) and (max-width: 640px) {
        .contact-section .contact-section__containers .contact-section__containers-follow {
          justify-content: center;
          padding-right: 0; }
          .contact-section .contact-section__containers .contact-section__containers-follow a {
            height: 3rem; } }
      @media (min-width: 640px) and (max-width: 1024px) {
        .contact-section .contact-section__containers .contact-section__containers-follow {
          justify-content: center;
          padding-right: 0; }
          .contact-section .contact-section__containers .contact-section__containers-follow a {
            height: 3rem; } }
      .contact-section .contact-section__containers .contact-section__containers-follow h3 {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 21px;
        color: #000000;
        margin: 0;}

  .contact-section__containers-follow a{
    height: 3rem;
    width: 3rem;
    display:inline-block;
  }
  .icons{
    display: flex;
    column-gap: 1.5rem;
  }
  .contact-section__containers-follow a svg{
    height: 3rem;
    width: 3rem;
  }

  .contact-section__containers-follow a img{
    height: 3rem;
    width: 3rem;
  }

  .contact-section__logo svg{
    width: 13.9375rem;
    height: 5.4375rem;
    display: block;
    margin-right:auto ;
  }

  .contact-section_logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: start !important;
  }

  .contact-section__containers-info h2, .contact-section__containers-info p{
    margin: 0 !important;
  }

  .contact-section h3{
    margin: 0 !important;
  }
